In [1]:
import pandas as pd

# File path
file_path = r"D:\work\WDF_032025.csv"

# Define chunk size (adjust based on your system's memory)
chunk_size = 10000  # Number of rows per chunk

# Initialize variables
total_rows = 0
columns = None

# Read the dataset in chunks
for chunk in pd.read_csv(file_path, chunksize=chunk_size):
    # Add the number of rows in this chunk to the total
    total_rows += len(chunk)
    
    # Store the columns from the first chunk (they'll be the same for all chunks)
    if columns is None:
        columns = chunk.columns.tolist()

# Print the total number of rows
print(f"Total number of rows: {total_rows}")

# Print the list of columns
print("\nList of columns:")
for col in columns:
    print(col)

Total number of rows: 8012383

List of columns:
carrier
carrier_cd_icao
fltno
fltsuffx
depapt
dep_port_cd_icao
depterm
depcity
depctry
arrapt
arr_port_cd_icao
arrterm
arrcity
arrctry
deptim
arrtim
arrday
elptim
days
efffrom
effto
stops
genacft
inpacft
equipment_cd_icao
acftchange
service
px
seats
seatsfst
seatsbus
seatspremeco
seatseco
meals
frtclass
tons
comm10_50
operating
ghost
dupcarfl
sad
sad_name
acft_owner
restrict
domint
routing
longest
intapt
distance
govt_app
infltservice
secureflt

In [3]:
import pandas as pd

# File paths
input_file = r"D:\work\WDF_032025.csv"
output_file = r"D:\work\WDF_032025_cleaned.csv"

# Define chunk size
chunk_size = 10000

# List of columns to drop
columns_to_drop = [
    'comm10_50',
    'ghost',
    'dupcarfl',
    'sad',
    'sad_name',
    'govt_app',
    'secureflt',
    'tons'
]

# Process the dataset in chunks
first_chunk = True
for chunk in pd.read_csv(input_file, chunksize=chunk_size):
    # Drop the specified columns
    chunk = chunk.drop(columns=columns_to_drop, errors='ignore')
    
    # Save to output file (append mode)
    if first_chunk:
        chunk.to_csv(output_file, index=False, mode='w')
        first_chunk = False
    else:
        chunk.to_csv(output_file, index=False, mode='a', header=False)

print(f"Columns dropped successfully. Updated dataset saved to {output_file}")

Columns dropped successfully. Updated dataset saved to D:\work\WDF_032025_cleaned.csv

In [5]:
import pandas as pd

# File paths
input_file = r"D:\work\WDF_032025_cleaned.csv"
output_file = r"D:\work\WDF_032025_cleaned_km.csv"

# Define chunk size
chunk_size = 10000

# Conversion factor: 1 mile = 1.60934 km
MILES_TO_KM = 1.60934

# Process the dataset in chunks
first_chunk = True
for chunk in pd.read_csv(input_file, chunksize=chunk_size):
    # Convert distance from miles to kilometers
    chunk['distance'] = chunk['distance'] * MILES_TO_KM
    
    # Rename the 'distance' column to 'distance_in_km'
    chunk = chunk.rename(columns={'distance': 'distance_in_km'})
    
    # Save to output file (append mode)
    if first_chunk:
        chunk.to_csv(output_file, index=False, mode='w')
        first_chunk = False
    else:
        chunk.to_csv(output_file, index=False, mode='a', header=False)

print(f"Distance converted from miles to kilometers and column renamed to 'distance_in_km'. Updated dataset saved to {output_file}")

Distance converted from miles to kilometers and column renamed to 'distance_in_km'. Updated dataset saved to D:\work\WDF_032025_cleaned_km.csv

In [7]:
import pandas as pd

# File path
file_path = r"D:\work\WDF_032025_cleaned_km.csv"

# Read only the first 5 rows of the dataset
df = pd.read_csv(file_path, nrows=5)

# Select the columns of interest
sample_data = df[['distance_in_km', 'efffrom', 'effto']]

# Display the sample data
print("Sample data for columns 'distance_in_km', 'efffrom', and 'effto':")
print(sample_data)

Sample data for columns 'distance_in_km', 'efffrom', and 'effto':
   distance_in_km   efffrom     effto
0        75.63898  20250319  20250319
1        75.63898  20250326  20250326
2        75.63898  20250402  20250402
3        75.63898  20250409  20250409
4        75.63898  20250416  20250416

In [9]:
import pandas as pd

# File paths
input_file = r"D:\work\WDF_032025_cleaned_km.csv"
output_file = r"D:\work\WDF_032025_cleaned_km_dates.csv"

# Define chunk size
chunk_size = 10000

# Process the dataset in chunks
first_chunk = True
for chunk in pd.read_csv(input_file, chunksize=chunk_size):
    # Convert 'efffrom' and 'effto' to proper date format
    chunk['efffrom'] = pd.to_datetime(chunk['efffrom'], format='%Y%m%d', errors='coerce').dt.strftime('%Y-%m-%d')
    chunk['effto'] = pd.to_datetime(chunk['effto'], format='%Y%m%d', errors='coerce').dt.strftime('%Y-%m-%d')
    
    # Save to output file (append mode)
    if first_chunk:
        chunk.to_csv(output_file, index=False, mode='w')
        first_chunk = False
    else:
        chunk.to_csv(output_file, index=False, mode='a', header=False)

print(f"'efffrom' and 'effto' columns converted to proper date format. Updated dataset saved to {output_file}")

'efffrom' and 'effto' columns converted to proper date format. Updated dataset saved to D:\work\WDF_032025_cleaned_km_dates.csv

In [11]:
import pandas as pd

# File path
file_path = r"D:\work\WDF_032025_cleaned_km_dates.csv"

# Read only the first 5 rows of the dataset
df = pd.read_csv(file_path, nrows=5)

# Display the sample data (all columns)
print("Sample data (first 5 rows) of the dataset:")
print(df)

# Optionally, print the list of columns to confirm
print("\nList of columns in the dataset:")
print(df.columns.tolist())

Sample data (first 5 rows) of the dataset:
  carrier carrier_cd_icao  fltno  fltsuffx depapt dep_port_cd_icao  depterm  \
0      VT             VTA    979       NaN    AAA             NTGA      NaN
1      VT             VTA    959       NaN    AAA             NTGA      NaN
2      VT             VTA    959       NaN    AAA             NTGA      NaN
3      VT             VTA    959       NaN    AAA             NTGA      NaN
4      VT             VTA    979       NaN    AAA             NTGA      NaN

  depcity depctry arrapt  ... frtclass  operating acft_owner restrict  domint  \
0     AAA      PF    FAC  ...      NaN        NaN        NaN      NaN      DD
1     AAA      PF    FAC  ...      NaN        NaN        NaN      NaN      DD
2     AAA      PF    FAC  ...      NaN        NaN        NaN      NaN      DD
3     AAA      PF    FAC  ...      NaN        NaN        NaN      NaN      DD
4     AAA      PF    FAC  ...      NaN        NaN        NaN      NaN      DD

           routing  longest  intapt  distance_in_km infltservice
0  PPTAAAFACRRRPPT      NaN     NaN        75.63898            9
1     PPTAAAFACPPT      NaN     NaN        75.63898            9
2     PPTAAAFACPPT      NaN     NaN        75.63898            9
3     PPTAAAFACPPT      NaN     NaN        75.63898            9
4  PPTAAAFACRRRPPT      NaN     NaN        75.63898            9

[5 rows x 44 columns]

List of columns in the dataset:
['carrier', 'carrier_cd_icao', 'fltno', 'fltsuffx', 'depapt', 'dep_port_cd_icao', 'depterm', 'depcity', 'depctry', 'arrapt', 'arr_port_cd_icao', 'arrterm', 'arrcity', 'arrctry', 'deptim', 'arrtim', 'arrday', 'elptim', 'days', 'efffrom', 'effto', 'stops', 'genacft', 'inpacft', 'equipment_cd_icao', 'acftchange', 'service', 'px', 'seats', 'seatsfst', 'seatsbus', 'seatspremeco', 'seatseco', 'meals', 'frtclass', 'operating', 'acft_owner', 'restrict', 'domint', 'routing', 'longest', 'intapt', 'distance_in_km', 'infltservice']

In [13]:
import pandas as pd

# File path
file_path = r"D:\work\WDF_032025_cleaned_km_dates.csv"

# Read only the first 5 rows of the dataset
df = pd.read_csv(file_path, nrows=5)

# Select the columns of interest
sample_data = df[['distance_in_km', 'efffrom', 'effto']]

# Display the sample data
print("Sample data for columns 'distance_in_km', 'efffrom', and 'effto':")
print(sample_data)

Sample data for columns 'distance_in_km', 'efffrom', and 'effto':
   distance_in_km     efffrom       effto
0        75.63898  2025-03-19  2025-03-19
1        75.63898  2025-03-26  2025-03-26
2        75.63898  2025-04-02  2025-04-02
3        75.63898  2025-04-09  2025-04-09
4        75.63898  2025-04-16  2025-04-16

In [15]:
import pandas as pd

# File path
file_path = r"D:\work\WDF_032025_cleaned_km_dates.csv"

# Define chunk size
chunk_size = 10000

# Key columns to check
key_columns = ['equipment_cd_icao', 'seatsfst', 'seatsbus', 'seatspremeco', 'seatseco', 'stops']

# Initialize variables
sample_data = None
total_rows = 0
non_stop_rows = 0
missing_equipment = 0
missing_seats = 0

# Process the dataset in chunks
for chunk in pd.read_csv(file_path, chunksize=chunk_size):
    # Get sample data (first 5 rows) if not already collected
    if sample_data is None:
        sample_data = chunk[key_columns].head(5)
    
    # Count total rows
    total_rows += len(chunk)
    
    # Count non-stop flights
    non_stop_rows += len(chunk[chunk['stops'] == 0])
    
    # Count rows with missing equipment_cd_icao
    missing_equipment += chunk['equipment_cd_icao'].isna().sum()
    
    # Count rows with missing seat data (all seat columns are 0 or NaN)
    missing_seats += len(chunk[
        (chunk['seatsfst'].isna() | (chunk['seatsfst'] == 0)) &
        (chunk['seatsbus'].isna() | (chunk['seatsbus'] == 0)) &
        (chunk['seatspremeco'].isna() | (chunk['seatspremeco'] == 0)) &
        (chunk['seatseco'].isna() | (chunk['seatseco'] == 0))
    ])

# Display sample data for key columns
print("Sample data for key columns:")
print(sample_data)

# Display data quality summary
print("\nData Quality Summary:")
print(f"Total rows: {total_rows}")
print(f"Non-stop flights (stops == 0): {non_stop_rows}")
print(f"Rows with missing equipment_cd_icao: {missing_equipment}")
print(f"Rows with missing seat data (all seat columns 0 or NaN): {missing_seats}")

Sample data for key columns:
  equipment_cd_icao  seatsfst  seatsbus  seatspremeco  seatseco  stops
0              AT72         0         0             0        58      0
1              AT72         0         4             0        52      0
2              AT72         0         0             0        56      0
3              AT72         0         4             0        52      0
4              AT72         0         4             0        60      0

Data Quality Summary:
Total rows: 8012383
Non-stop flights (stops == 0): 7098749
Rows with missing equipment_cd_icao: 1127928
Rows with missing seat data (all seat columns 0 or NaN): 51520

In [17]:
import pandas as pd

# File paths
input_file = r"D:\work\WDF_032025_cleaned_km_dates.csv"
output_file = r"D:\work\WDF_032025_cleaned_final.csv"

# Define chunk size
chunk_size = 10000

# Process the dataset in chunks
first_chunk = True
for chunk in pd.read_csv(input_file, chunksize=chunk_size):
    # Set default aircraft type 'A320' for missing equipment_cd_icao
    chunk['equipment_cd_icao'] = chunk['equipment_cd_icao'].fillna('A320')
    
    # Drop rows where all seat columns are 0 or NaN
    chunk = chunk[
        ~(
            (chunk['seatsfst'].isna() | (chunk['seatsfst'] == 0)) &
            (chunk['seatsbus'].isna() | (chunk['seatsbus'] == 0)) &
            (chunk['seatspremeco'].isna() | (chunk['seatspremeco'] == 0)) &
            (chunk['seatseco'].isna() | (chunk['seatseco'] == 0))
        )
    ]
    
    # Save to output file (append mode)
    if first_chunk:
        chunk.to_csv(output_file, index=False, mode='w')
        first_chunk = False
    else:
        chunk.to_csv(output_file, index=False, mode='a', header=False)

print(f"Dataset cleaned: Default aircraft set for missing equipment_cd_icao, invalid seat rows dropped. Updated dataset saved to {output_file}")

Dataset cleaned: Default aircraft set for missing equipment_cd_icao, invalid seat rows dropped. Updated dataset saved to D:\work\WDF_032025_cleaned_final.csv

In [19]:
import pandas as pd

# File path
file_path = r"D:\work\WDF_032025_cleaned_final.csv"

# Define chunk size
chunk_size = 10000

# Key columns to check
key_columns = ['equipment_cd_icao', 'seatsfst', 'seatsbus', 'seatspremeco', 'seatseco', 'stops']

# Initialize variables
sample_data = None
total_rows = 0
non_stop_rows = 0
missing_equipment = 0
missing_seats = 0

# Process the dataset in chunks
for chunk in pd.read_csv(file_path, chunksize=chunk_size):
    # Get sample data (first 5 rows) if not already collected
    if sample_data is None:
        sample_data = chunk[key_columns].head(5)
    
    # Count total rows
    total_rows += len(chunk)
    
    # Count non-stop flights
    non_stop_rows += len(chunk[chunk['stops'] == 0])
    
    # Count rows with missing equipment_cd_icao
    missing_equipment += chunk['equipment_cd_icao'].isna().sum()
    
    # Count rows with missing seat data (all seat columns 0 or NaN)
    missing_seats += len(chunk[
        (chunk['seatsfst'].isna() | (chunk['seatsfst'] == 0)) &
        (chunk['seatsbus'].isna() | (chunk['seatsbus'] == 0)) &
        (chunk['seatspremeco'].isna() | (chunk['seatspremeco'] == 0)) &
        (chunk['seatseco'].isna() | (chunk['seatseco'] == 0))
    ])

# Display sample data for key columns
print("Sample data for key columns (cleaned dataset):")
print(sample_data)

# Display data quality summary
print("\nData Quality Summary (cleaned dataset):")
print(f"Total rows: {total_rows}")
print(f"Non-stop flights (stops == 0): {non_stop_rows}")
print(f"Rows with missing equipment_cd_icao: {missing_equipment}")
print(f"Rows with missing seat data (all seat columns 0 or NaN): {missing_seats}")

Sample data for key columns (cleaned dataset):
  equipment_cd_icao  seatsfst  seatsbus  seatspremeco  seatseco  stops
0              AT72         0         0             0        58      0
1              AT72         0         4             0        52      0
2              AT72         0         0             0        56      0
3              AT72         0         4             0        52      0
4              AT72         0         4             0        60      0

Data Quality Summary (cleaned dataset):
Total rows: 7960863
Non-stop flights (stops == 0): 7052218
Rows with missing equipment_cd_icao: 0
Rows with missing seat data (all seat columns 0 or NaN): 0

In [21]:
import pandas as pd

# File path
file_path = r"D:\work\WDF_032025_cleaned_final.csv"

# Define chunk size
chunk_size = 10000

# Initialize a set to store unique equipment_cd_icao values
unique_aircraft = set()

# Process the dataset in chunks
for chunk in pd.read_csv(file_path, chunksize=chunk_size):
    # Add unique equipment_cd_icao values to the set
    unique_aircraft.update(chunk['equipment_cd_icao'].dropna().unique())

# Convert the set to a sorted list for better readability
unique_aircraft_list = sorted(unique_aircraft)

# Display the unique aircraft types
print("Unique equipment_cd_icao values in the dataset:")
print(unique_aircraft_list)
print(f"\nTotal number of unique aircraft types: {len(unique_aircraft_list)}")

Unique equipment_cd_icao values in the dataset:
['*', 'A109', 'A139', 'A148', 'A19N', 'A20N', 'A21N', 'A306', 'A30B', 'A318', 'A319', 'A320', 'A321', 'A332', 'A333', 'A338', 'A339', 'A342', 'A343', 'A346', 'A359', 'A35K', 'A388', 'AJ27', 'AN24', 'AN26', 'AN38', 'AS50', 'AT43', 'AT72', 'B06', 'B190', 'B37M', 'B38M', 'B39M', 'B462', 'B463', 'B712', 'B732', 'B733', 'B734', 'B735', 'B736', 'B737', 'B738', 'B739', 'B744', 'B748', 'B752', 'B753', 'B762', 'B763', 'B764', 'B772', 'B773', 'B77L', 'B77W', 'B788', 'B789', 'B78X', 'BCS1', 'BCS3', 'BN2P', 'C208', 'CL30', 'CRJ1', 'CRJ2', 'CRJ7', 'CRJ9', 'CRJX', 'D228', 'D328', 'DA42', 'DA62', 'DH3T', 'DH8A', 'DH8B', 'DH8C', 'DH8D', 'DHC2', 'DHC4', 'DHC6', 'DHC7', 'E110', 'E120', 'E135', 'E145', 'E170', 'E190', 'E195', 'E75L', 'EC30', 'EC55', 'F100', 'F50', 'F70', 'J328', 'JS31', 'JS32', 'JS41', 'L410', 'MD82', 'MD83', 'MI8', 'P212', 'PC12', 'RJ85', 'S76', 'SB20', 'SF34', 'SU95', 'SW4', 'T154', 'T204', 'TRIS', 'YK40', 'YK42']

Total number of unique aircraft types: 117

In [23]:
import pandas as pd

# File paths
input_file = r"D:\work\WDF_032025_cleaned_final.csv"
output_file = r"D:\work\WDF_032025_CO2e.csv"

# Define chunk size
chunk_size = 10000

# Define constants for CO2e calculation
BASE_EMISSION_FACTORS = {
    "short_haul": 0.12,  # < 1500 km
    "medium_haul": 0.105,  # 1500â€“4000 km
    "long_haul": 0.085  # > 4000 km
}

# Updated AIRCRAFT_MULTIPLIERS dictionary
AIRCRAFT_MULTIPLIERS = {
    "*": 1.0,
    "A109": 1.5, "A139": 1.5, "AS50": 1.5, "B06": 1.5, "EC30": 1.5, "EC55": 1.5, "MI8": 1.5, "S76": 1.5,
    "AT43": 1.2, "AT72": 1.2, "B190": 1.2, "BN2P": 1.2, "C208": 1.2, "D228": 1.2, "D328": 1.2, "DA42": 1.2,
    "DA62": 1.2, "DH8A": 1.2, "DH8B": 1.2, "DH8C": 1.2, "DH8D": 1.2, "DHC2": 1.2, "DHC4": 1.2, "DHC6": 1.2,
    "DHC7": 1.2, "E110": 1.2, "E120": 1.2, "E135": 1.2, "E145": 1.2, "E75L": 1.2, "F50": 1.2, "F70": 1.2,
    "J328": 1.2, "JS31": 1.2, "JS32": 1.2, "JS41": 1.2, "L410": 1.2, "PC12": 1.2, "SB20": 1.2, "SF34": 1.2,
    "SW4": 1.2, "TRIS": 1.2,
    "CRJ1": 1.15, "CRJ2": 1.15, "CRJ7": 1.15, "CRJ9": 1.15, "CRJX": 1.15, "E170": 1.15, "E190": 1.15,
    "E195": 1.15, "SU95": 1.15,
    "A19N": 1.0, "A20N": 1.0, "A21N": 1.0, "A318": 1.0, "A319": 1.05, "A320": 1.0, "A321": 0.95,
    "B37M": 1.0, "B38M": 1.0, "B39M": 1.0, "B712": 1.0, "B737": 1.0, "B738": 1.0, "B739": 1.0,
    "B752": 1.0, "B753": 1.0, "BCS1": 1.0, "BCS3": 1.0,
    "B732": 1.05, "B733": 1.05, "B734": 1.05, "B735": 1.05, "B736": 1.05, "MD82": 1.05, "MD83": 1.05,
    "A332": 0.90, "A333": 0.90, "A338": 0.90, "A339": 0.90, "A359": 0.90, "A35K": 0.90,
    "B764": 0.90, "B772": 0.90, "B773": 0.90, "B77L": 0.90, "B77W": 0.95, "B788": 0.90, "B789": 0.90, "B78X": 0.90,
    "A306": 1.1, "A30B": 1.1, "A342": 1.1, "A343": 1.1, "A346": 1.1, "A388": 1.1,
    "B744": 1.1, "B748": 1.1, "B762": 1.1, "B763": 1.1,
    "AJ27": 1.3, "AN24": 1.3, "AN26": 1.3, "AN38": 1.3, "T154": 1.3, "T204": 1.3, "YK40": 1.3, "YK42": 1.3,
    "CL30": 1.4, "P212": 1.4,
    "B462": 1.2, "B463": 1.2, "F100": 1.2, "RJ85": 1.2,
    "default": 1.0
}

ADDITIONAL_FACTOR = 1.05

# Function to determine flight category based on distance
def get_flight_category(distance_km):
    if distance_km < 1500:
        return "short_haul"
    elif 1500 <= distance_km <= 4000:
        return "medium_haul"
    else:
        return "long_haul"

# Function to calculate seat class multiplier
def calculate_seat_class_multiplier(row):
    total_seats = row['seatsfst'] + row['seatsbus'] + row['seatspremeco'] + row['seatseco']
    if total_seats == 0:
        return 1.0  # This should not happen as we dropped invalid rows
    seat_class_multiplier = (
        (row['seatsfst'] / total_seats) * 3.0 +
        (row['seatsbus'] / total_seats) * 2.0 +
        (row['seatspremeco'] / total_seats) * 1.5 +
        (row['seatseco'] / total_seats) * 1.0
    )
    return seat_class_multiplier

# Function to calculate CO2e per passenger
def calculate_co2e_per_passenger(row):
    # Step 1: Get distance
    distance_km = row['distance_in_km']

    # Step 2: Determine flight category and base emission factor
    flight_category = get_flight_category(distance_km)
    base_emission_factor = BASE_EMISSION_FACTORS[flight_category]

    # Step 3: Get aircraft multiplier
    aircraft_code = row['equipment_cd_icao']
    aircraft_multiplier = AIRCRAFT_MULTIPLIERS.get(aircraft_code, AIRCRAFT_MULTIPLIERS["default"])

    # Step 4: Calculate seat class multiplier
    seat_class_multiplier = calculate_seat_class_multiplier(row)

    # Step 5: Calculate CO2e per passenger
    co2e_per_passenger = (
        distance_km *
        base_emission_factor *
        aircraft_multiplier *
        seat_class_multiplier *
        ADDITIONAL_FACTOR
    )

    return round(co2e_per_passenger, 2)

# Process the dataset in chunks
first_chunk = True
for chunk in pd.read_csv(input_file, chunksize=chunk_size):
    # Step 1: Calculate CO2e for each row
    chunk['co2e_per_passenger_kg'] = chunk.apply(calculate_co2e_per_passenger, axis=1)

    # Step 2: Select relevant columns for output
    output_columns = [
        'carrier', 'fltno', 'fltsuffx', 'depapt', 'arrapt', 
        'distance_in_km', 'equipment_cd_icao', 'seatsfst', 'seatsbus', 
        'seatspremeco', 'seatseco', 'stops', 'co2e_per_passenger_kg'
    ]
    chunk = chunk[output_columns]

    # Step 3: Save to output file (append mode)
    if first_chunk:
        chunk.to_csv(output_file, index=False, mode='w')
        first_chunk = False
    else:
        chunk.to_csv(output_file, index=False, mode='a', header=False)

print(f"CO2e calculations completed for all records. Results saved to {output_file}")

CO2e calculations completed for all records. Results saved to D:\work\WDF_032025_CO2e.csv

In [25]:
import pandas as pd

# File path
file_path = r"D:\work\WDF_032025_CO2e.csv"

# Read only the first 5 rows
df = pd.read_csv(file_path, nrows=5)

# Display the sample data
print("Sample CO2e calculation results (first 5 rows):")
print(df)

Sample CO2e calculation results (first 5 rows):
  carrier  fltno  fltsuffx depapt arrapt  distance_in_km equipment_cd_icao  \
0      VT    979       NaN    AAA    FAC        75.63898              AT72
1      VT    959       NaN    AAA    FAC        75.63898              AT72
2      VT    959       NaN    AAA    FAC        75.63898              AT72
3      VT    959       NaN    AAA    FAC        75.63898              AT72
4      VT    979       NaN    AAA    FAC        75.63898              AT72

   seatsfst  seatsbus  seatspremeco  seatseco  stops  co2e_per_passenger_kg
0         0         0             0        58      0                  11.44
1         0         4             0        52      0                  12.25
2         0         0             0        56      0                  11.44
3         0         4             0        52      0                  12.25
4         0         4             0        60      0                  12.15

In [29]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\anaconda\lib\site-packages (3.1.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: et-xmlfile in c:\anaconda\lib\site-packages (from openpyxl) (1.1.0)

In [33]:
import pandas as pd

# File path
seatguru_file = r"C:\Users\amit.murmu\Downloads\airlines_with_amenities.xlsx"

# Load the Excel file
seatguru_df = pd.read_excel(seatguru_file)

# Print the column names
print("Columns in airlines_with_amenities.xlsx:")
print(seatguru_df.columns.tolist())

Columns in airlines_with_amenities.xlsx:
['Airline Name', 'Plane Types', 'Amenities']

In [35]:
import pandas as pd

# File paths
main_file = r"D:\work\WDF_032025_CO2e.csv"
seatguru_file = r"C:\Users\amit.murmu\Downloads\airlines_with_amenities.xlsx"
output_file = r"D:\work\WDF_032025_CO2e_with_amenities.csv"

# Define chunk size
chunk_size = 10000

# Step 1: Load SeatGuru data from Excel file
seatguru_df = pd.read_excel(seatguru_file)

# Step 2: Rename columns in SeatGuru data to match main dataset
seatguru_df = seatguru_df.rename(columns={
    'Airline Name': 'carrier',
    'Plane Types': 'equipment_cd_icao',
    'Amenities': 'amenities'
})

# Step 3: Create a merge key in SeatGuru data
# Combine carrier and equipment_cd_icao to create a unique key
seatguru_df['merge_key'] = seatguru_df['carrier'].astype(str) + '_' + \
                          seatguru_df['equipment_cd_icao'].astype(str)

# Step 4: Process the main dataset in chunks and merge with SeatGuru data
first_chunk = True
for chunk in pd.read_csv(main_file, chunksize=chunk_size):
    # Create the same merge key in the main dataset chunk
    chunk['merge_key'] = chunk['carrier'].astype(str) + '_' + \
                        chunk['equipment_cd_icao'].astype(str)

    # Merge with SeatGuru data (left join)
    chunk = chunk.merge(seatguru_df[['merge_key', 'amenities']], 
                        on='merge_key', 
                        how='left')

    # Drop the merge_key column as it's no longer needed
    chunk = chunk.drop(columns=['merge_key'])

    # Save to output file (append mode)
    if first_chunk:
        chunk.to_csv(output_file, index=False, mode='w')
        first_chunk = False
    else:
        chunk.to_csv(output_file, index=False, mode='a', header=False)

print(f"Amenities column added. Updated dataset saved to {output_file}")

Amenities column added. Updated dataset saved to D:\work\WDF_032025_CO2e_with_amenities.csv

In [37]:
import pandas as pd

# File path
file_path = r"D:\work\WDF_032025_CO2e_with_amenities.csv"

# Define chunk size
chunk_size = 10000

# Initialize variables
sample_data = None
total_rows = 0
rows_with_amenities = 0

# Process the dataset in chunks
for chunk in pd.read_csv(file_path, chunksize=chunk_size):
    # Get sample data (first 5 rows) if not already collected
    if sample_data is None:
        sample_data = chunk.head(5)
    
    # Count total rows
    total_rows += len(chunk)
    
    # Count rows with non-NaN amenities
    rows_with_amenities += chunk['amenities'].notna().sum()

# Display sample data
print("Sample data with amenities (first 5 rows):")
print(sample_data)

# Display data quality summary
print("\nData Quality Summary:")
print(f"Total rows: {total_rows}")
print(f"Rows with amenities data: {rows_with_amenities}")
print(f"Rows without amenities data: {total_rows - rows_with_amenities}")

Sample data with amenities (first 5 rows):
  carrier  fltno fltsuffx depapt arrapt  distance_in_km equipment_cd_icao  \
0      VT    979      NaN    AAA    FAC        75.63898              AT72
1      VT    959      NaN    AAA    FAC        75.63898              AT72
2      VT    959      NaN    AAA    FAC        75.63898              AT72
3      VT    959      NaN    AAA    FAC        75.63898              AT72
4      VT    979      NaN    AAA    FAC        75.63898              AT72

   seatsfst  seatsbus  seatspremeco  seatseco  stops  co2e_per_passenger_kg  \
0         0         0             0        58      0                  11.44
1         0         4             0        52      0                  12.25
2         0         0             0        56      0                  11.44
3         0         4             0        52      0                  12.25
4         0         4             0        60      0                  12.15

   amenities
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

Data Quality Summary:
Total rows: 7960863
Rows with amenities data: 0
Rows without amenities data: 7960863

In [39]:
import pandas as pd

# File paths
main_file = r"D:\work\WDF_032025_CO2e.csv"
seatguru_file = r"C:\Users\amit.murmu\Downloads\airlines_with_amenities.xlsx"

# Load SeatGuru data
seatguru_df = pd.read_excel(seatguru_file)

# Rename columns in SeatGuru data to match main dataset
seatguru_df = seatguru_df.rename(columns={
    'Airline Name': 'carrier',
    'Plane Types': 'equipment_cd_icao',
    'Amenities': 'amenities'
})

# Create merge key in SeatGuru data
seatguru_df['merge_key'] = seatguru_df['carrier'].astype(str) + '_' + \
                          seatguru_df['equipment_cd_icao'].astype(str)

# Load sample from main dataset (first 5 rows)
main_df_sample = pd.read_csv(main_file, nrows=5)

# Create merge key in main dataset sample
main_df_sample['merge_key'] = main_df_sample['carrier'].astype(str) + '_' + \
                             main_df_sample['equipment_cd_icao'].astype(str)

# Print sample data from both datasets
print("Sample from SeatGuru dataset (first 5 rows):")
print(seatguru_df[['carrier', 'equipment_cd_icao', 'amenities', 'merge_key']].head())

print("\nSample from Main dataset (first 5 rows):")
print(main_df_sample[['carrier', 'equipment_cd_icao', 'merge_key']].head())

# Check unique merge keys in both datasets
print("\nUnique merge keys in SeatGuru dataset:")
print(seatguru_df['merge_key'].unique()[:10])  # First 10 unique keys

print("\nUnique merge keys in Main dataset (first 1000 rows):")
main_df_larger_sample = pd.read_csv(main_file, nrows=1000)
main_df_larger_sample['merge_key'] = main_df_larger_sample['carrier'].astype(str) + '_' + \
                                    main_df_larger_sample['equipment_cd_icao'].astype(str)
print(main_df_larger_sample['merge_key'].unique()[:10])  # First 10 unique keys

Sample from SeatGuru dataset (first 5 rows):
           carrier      equipment_cd_icao             amenities  \
0  Aegean Airlines      Airbus A319 (319)                  Food
1  Aegean Airlines      Airbus A320 (320)  Food, Tv, Headphones
2  Aegean Airlines      Airbus A321 (321)  Food, Tv, Headphones
3  Aegean Airlines       ATR 42-600 (ATR)                  Food
4  Aegean Airlines  Bombardier Q400 (DH4)                  Food

                               merge_key
0      Aegean Airlines_Airbus A319 (319)
1      Aegean Airlines_Airbus A320 (320)
2      Aegean Airlines_Airbus A321 (321)
3       Aegean Airlines_ATR 42-600 (ATR)
4  Aegean Airlines_Bombardier Q400 (DH4)

Sample from Main dataset (first 5 rows):
  carrier equipment_cd_icao merge_key
0      VT              AT72   VT_AT72
1      VT              AT72   VT_AT72
2      VT              AT72   VT_AT72
3      VT              AT72   VT_AT72
4      VT              AT72   VT_AT72

Unique merge keys in SeatGuru dataset:
['Aegean Airlines_Airbus A319 (319)' 'Aegean Airlines_Airbus A320 (320)'
 'Aegean Airlines_Airbus A321 (321)' 'Aegean Airlines_ATR 42-600 (ATR)'
 'Aegean Airlines_Bombardier Q400 (DH4)'
 'Aer Lingus_Airbus A330-200 (332) Layout 1'
 'Aer Lingus_Airbus A330-200 (332) Layout 2'
 'Aer Lingus_Airbus A330-300 (333)' 'Aer Lingus_Airbus A320 (320)'
 'Aer Lingus_Airbus A321 (321)']

Unique merge keys in Main dataset (first 1000 rows):
['VT_AT72' 'VT_AT43' 'JBW_F50' 'AH_B736' 'AH_AT72' 'AH_B738' 'AH_B737'
 '5O_B737' 'SF_DH8D' 'TK_B738']

In [41]:
import pandas as pd

# File path
seatguru_file = r"C:\Users\amit.murmu\Downloads\airlines_with_amenities.xlsx"

# Load SeatGuru data
seatguru_df = pd.read_excel(seatguru_file)

# Rename columns
seatguru_df = seatguru_df.rename(columns={
    'Airline Name': 'carrier',
    'Plane Types': 'equipment_cd_icao',
    'Amenities': 'amenities'
})

# Print all unique carriers
print("All unique carriers in SeatGuru dataset:")
print(sorted(seatguru_df['carrier'].unique()))

All unique carriers in SeatGuru dataset:
['ANA', 'Aegean Airlines', 'Aer Lingus', 'Aeroflot', 'Aerolineas Argentinas', 'Aeromexico', 'Air Arabia', 'Air Astana', 'Air Austral', 'Air Baltic', 'Air Belgium', 'Air Canada', 'Air Caraibes', 'Air China', 'Air Corsica', 'Air Dolomiti', 'Air Europa', 'Air France', 'Air India', 'Air India Express', 'Air Macau', 'Air Malta', 'Air Mauritius', 'Air Namibia', 'Air New Zealand', 'Air North', 'Air Seoul', 'Air Serbia', 'Air Tahiti Nui', 'Air Transat', 'Air Vanuatu', 'AirAsia', 'AirAsia X', 'Aircalin', 'Alaska Airlines', 'Alitalia', 'Allegiant', 'American Airlines', 'Asiana', 'Austrian', 'Azerbaijan Hava Yollary', 'Azores Airlines', 'Azul', 'Bamboo Airways', 'Bangkok Airways', 'British Airways', 'Brussels Airlines', 'CEBU Pacific Air', 'Caribbean Airlines', 'Cathay Dragon', 'Cathay Pacific', 'Cayman Airways', 'China Airlines', 'China Eastern', 'China Southern', 'Condor', 'Copa Airlines', 'Croatia Airlines', 'Czech Airlines', 'Delta', 'EL AL', 'EVA Air', 'Edelweiss Air', 'Egyptair', 'Emirates', 'Ethiopian Airlines', 'Etihad', 'Eurowings', 'Fiji Airways', 'Finnair', 'FlyOne', 'French bee', 'Frontier', 'Garuda Indonesia', 'Gol', 'Gulf Air', 'HK Express', 'Hainan Airlines', 'Hawaiian Airlines', 'Helvetic Airways', 'Hong Kong Airlines', 'Iberia', 'Icelandair', 'IndiGo Airlines', 'InterJet', 'Japan Airlines', 'Jeju Air', 'Jet2', 'JetBlue', 'Jetstar', 'Jin Air', 'KLM', 'Kenya Airways', 'Korean Air', 'Kulula', 'LATAM', 'LOT Polish Airlines', 'La Compagnie', 'Lion Airlines', 'Lufthansa', 'Luxair', 'Malaysia Airlines', 'Mango', 'Middle East Airlines', 'Nok Air', 'Nordwind Airlines', 'Norwegian Air International', 'Norwegian Air Shuttle', 'Norwegian Air Sweden', 'Norwegian Air UK', 'Oman Air', 'Pakistan International Airlines', 'Peach', 'Pegasus Airlines', 'Philippine Airlines', 'Porter', 'Qantas', 'Qatar Airways', 'Regional Express', 'Rossiya - Russian Airlines', 'Royal Air Maroc', 'Royal Brunei', 'Royal Jordanian', 'RwandAir', 'Ryanair', 'S7 Airlines', 'SAS', 'SWISS', 'Saudia', 'Scoot Airlines', 'Shanghai Airlines', 'Silkair', 'Silver', 'Singapore Airlines', 'Skylanes', 'South African Airways', 'Southwest', 'SpiceJet', 'Spirit', 'Spring Airlines', 'Spring Japan', 'SriLankan Airlines', 'Sun Country', 'Sunclass Airlines', 'Sunwing', 'Swoop', 'TAAG', 'TACA', 'TAP Portugal', 'THAI', 'TUI UK', 'TUIfly', 'Transavia Airlines', 'Tunis Air', 'Turkish Airlines', 'UTair Aviation', 'Ukraine International', 'United', 'Ural Airlines', 'Uzbekistan Airways', 'Vietnam Airlines', 'Virgin Atlantic', 'Virgin Australia', 'Vistara', 'Viva Aerobus', 'Volaris', 'Volotea', 'Vueling Airlines', 'WestJet', 'Wizzair', 'Xiamen Airlines', 'easyJet', 'flydubai', 'tigerair Australia']

In [43]:
import pandas as pd
import re

# File paths
main_file = r"D:\work\WDF_032025_CO2e.csv"
seatguru_file = r"C:\Users\amit.murmu\Downloads\airlines_with_amenities.xlsx"
output_file = r"D:\work\WDF_032025_CO2e_with_amenities.csv"

# Define chunk size
chunk_size = 10000

# Step 1: Load SeatGuru data
seatguru_df = pd.read_excel(seatguru_file)

# Rename columns in SeatGuru data
seatguru_df = seatguru_df.rename(columns={
    'Airline Name': 'carrier',
    'Plane Types': 'equipment_cd_icao',
    'Amenities': 'amenities'
})

# Step 2: Standardize equipment_cd_icao in SeatGuru dataset
def extract_icao_code(plane_type):
    # Remove extra spaces and convert to uppercase
    plane_type = str(plane_type).strip().upper()
    
    # Common mappings for known plane types
    plane_mapping = {
        'AIRBUS A319 (319)': 'A319',
        'AIRBUS A320 (320)': 'A320',
        'AIRBUS A321 (321)': 'A321',
        'ATR 42-600 (ATR)': 'AT46',
        'BOMBARDIER Q400 (DH4)': 'DH8D',
        'AIRBUS A330-200 (332)': 'A332',
        'AIRBUS A330-300 (333)': 'A333',
        'AIRBUS A350-900 (359)': 'A359',
        'AIRBUS A380-800 (388)': 'A388',
        'BOEING 737-700 (737)': 'B737',
        'BOEING 737-800 (738)': 'B738',
        'BOEING 737-900 (739)': 'B739',
        'BOEING 747-400 (744)': 'B744',
        'BOEING 777-200 (772)': 'B772',
        'BOEING 777-300 (773)': 'B773',
        'BOEING 787-8 (788)': 'B788',
        'BOEING 787-9 (789)': 'B789',
        'ATR 72-600 (ATR)': 'AT76',
        'ATR 72-500 (ATR)': 'AT75',
        'EMBRAER 175 (E75)': 'E75L',
        'EMBRAER 190 (E90)': 'E190',
        'EMBRAER 195 (E95)': 'E195',
        # Add more mappings as needed
    }
    
    if plane_type in plane_mapping:
        return plane_mapping[plane_type]
    
    # Try to extract ICAO code from parentheses (e.g., "Airbus A319 (319)" -> "A319")
    match = re.search(r'\(([^)]+)\)', plane_type)
    if match:
        return match.group(1)
    
    # If no match, try to infer ICAO code based on common patterns
    if 'ATR 72' in plane_type:
        return 'AT72'
    elif 'ATR 42' in plane_type:
        return 'AT46'
    elif 'BOEING 737' in plane_type:
        return 'B737'  # Default to B737 if specific variant not matched
    elif 'AIRBUS A320' in plane_type:
        return 'A320'
    elif 'AIRBUS A321' in plane_type:
        return 'A321'
    
    # If no match, return the original (cleaned) value
    return plane_type.replace(' ', '')

# Apply the function to standardize equipment_cd_icao
seatguru_df['equipment_cd_icao'] = seatguru_df['equipment_cd_icao'].apply(extract_icao_code)

# Step 3: Map carrier codes to full names in main dataset
carrier_mapping = {
    'VT': 'Vistara',
    'JBW': 'Jubba Airways',
    'AH': 'Air Algerie',
    '5O': 'ASL Airlines France',
    'SF': 'Tassili Airlines',
    'TK': 'Turkish Airlines',
    # Add more mappings based on main dataset carriers
}

# Step 4: Create merge key in SeatGuru data
seatguru_df['merge_key'] = seatguru_df['carrier'].astype(str) + '_' + \
                          seatguru_df['equipment_cd_icao'].astype(str)

# Step 5: Process the main dataset in chunks and merge with SeatGuru data
first_chunk = True
for chunk in pd.read_csv(main_file, chunksize=chunk_size):
    # Map carrier codes to full names
    chunk['carrier_mapped'] = chunk['carrier'].map(carrier_mapping).fillna(chunk['carrier'])
    
    # Create the same merge key in the main dataset chunk
    chunk['merge_key'] = chunk['carrier_mapped'].astype(str) + '_' + \
                        chunk['equipment_cd_icao'].astype(str)

    # Merge with SeatGuru data (left join)
    chunk = chunk.merge(seatguru_df[['merge_key', 'amenities']], 
                        on='merge_key', 
                        how='left')

    # Drop the merge_key and carrier_mapped columns as they are no longer needed
    chunk = chunk.drop(columns=['merge_key', 'carrier_mapped'])

    # Save to output file (append mode)
    if first_chunk:
        chunk.to_csv(output_file, index=False, mode='w')
        first_chunk = False
    else:
        chunk.to_csv(output_file, index=False, mode='a', header=False)

print(f"Amenities column added. Updated dataset saved to {output_file}")

Amenities column added. Updated dataset saved to D:\work\WDF_032025_CO2e_with_amenities.csv

In [45]:
import pandas as pd

# File path
file_path = r"D:\work\WDF_032025_CO2e_with_amenities.csv"

# Define chunk size
chunk_size = 10000

# Initialize variables
sample_data = None
total_rows = 0
rows_with_amenities = 0

# Process the dataset in chunks
for chunk in pd.read_csv(file_path, chunksize=chunk_size):
    # Get sample data (first 5 rows) if not already collected
    if sample_data is None:
        sample_data = chunk.head(5)
    
    # Count total rows
    total_rows += len(chunk)
    
    # Count rows with non-NaN amenities
    rows_with_amenities += chunk['amenities'].notna().sum()

# Display sample data
print("Sample data with amenities (first 5 rows):")
print(sample_data)

# Display data quality summary
print("\nData Quality Summary:")
print(f"Total rows: {total_rows}")
print(f"Rows with amenities data: {rows_with_amenities}")
print(f"Rows without amenities data: {total_rows - rows_with_amenities}")

Sample data with amenities (first 5 rows):
  carrier  fltno fltsuffx depapt arrapt  distance_in_km equipment_cd_icao  \
0      VT    979      NaN    AAA    FAC        75.63898              AT72
1      VT    959      NaN    AAA    FAC        75.63898              AT72
2      VT    959      NaN    AAA    FAC        75.63898              AT72
3      VT    959      NaN    AAA    FAC        75.63898              AT72
4      VT    979      NaN    AAA    FAC        75.63898              AT72

   seatsfst  seatsbus  seatspremeco  seatseco  stops  co2e_per_passenger_kg  \
0         0         0             0        58      0                  11.44
1         0         4             0        52      0                  12.25
2         0         0             0        56      0                  11.44
3         0         4             0        52      0                  12.25
4         0         4             0        60      0                  12.15

  amenities
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN

Data Quality Summary:
Total rows: 7960863
Rows with amenities data: 13184
Rows without amenities data: 7947679

In [47]:
print("Unique equipment_cd_icao in SeatGuru dataset after standardization:")
print(sorted(seatguru_df['equipment_cd_icao'].unique()))

Unique equipment_cd_icao in SeatGuru dataset after standardization:
['100', '300', '313', '318', '319', '320', '321', '32A', '32B', '32H', '32K', '32M', '32S', '332', '333', '339', '33D', '33E', '33H', '33K', '33P', '33R', '33S', '33T', '33V', '343', '345', '346', '350', '351', '359', '35A', '35G', '380', '388', '3N1', '717', '733', '734', '735', '736', '737', '738', '739', '73G', '73H', '73J', '73W', '73Z', '744', '747', '748', '74H', '752', '753', '757', '75D', '75G', '75P', '75S', '75Y', '762', '763', '764', '767', '76A', '76C', '76D', '76H/76Z', '76L', '76T/76W', '76W', '76Z', '772', '773', '777', '77A', '77A/77W', '77B', '77G', '77H', '77K', '77L', '77M', '77N/77W', '77W', '77X', '781', '788', '789', '7CB', '7HD', '7M8', '7M9', 'A319', 'A320', 'A321', 'A332', 'A333', 'A359', 'A388', 'AEROSPATIALEATR-42', 'AIRBUSA220-300', 'AIRBUSA330-200', 'AIRBUSA350-900ULR', 'AR8', 'AT46', 'AT5', 'AT7', 'AT72', 'AT75', 'AT76', 'ATR', 'ATR-72', 'B737', 'B738', 'B739', 'B744', 'B772', 'B773', 'B788', 'B789', 'BEECHCRAFT1900D', 'BOEING787-9', 'BOMBARDIERCRJ-100/200', 'BOMBARDIERCRJ-1000', 'BOMBARDIERCRJ-200', 'BOMBARDIERCRJ-700', 'BOMBARDIERCRJ-705', 'BOMBARDIERCRJ-900', 'BOMBARDIERQ100', 'BOMBARDIERQ300', 'BOMBARDIERQ400', 'CR2', 'CR7', 'CR9', 'CRJ', 'CRK', 'CS1', 'CS3', 'DH2', 'DH3', 'DH4', 'DH8D', 'DHT', 'E190', 'E195', 'E70', 'E75', 'E75L', 'E90', 'E95', 'EM2', 'EMBRAERE-170', 'EMBRAERE-170EUROPEAN', 'EMBRAERE-170UKDOMESTIC', 'EMBRAERE-175', 'EMBRAERE-190', 'EMBRAERE-190EUROPEAN', 'EMBRAERE-190UKDOMESTIC', 'EMBRAERE-195', 'EMBRAERERJ-145', 'EMBRAERERJ-190', 'ER3', 'ER4', 'ERD', 'ERJ', 'FOKKERF-100', 'HAWKERSIDDELEYHS748LAYOUT1', 'HAWKERSIDDELEYHS748LAYOUT2', 'HAWKERSIDDELEYHS748LAYOUT3', 'HAWKERSIDDELEYHS748LAYOUT4', 'M88', 'M90', 'SAAB340B', 'SF3', 'SFB', 'SU9', 'TWINOTTERDHC6']

In [49]:
import pandas as pd

# File path
seatguru_file = r"C:\Users\amit.murmu\Downloads\airlines_with_amenities.xlsx"

# Load SeatGuru data
seatguru_df = pd.read_excel(seatguru_file)

# Rename columns
seatguru_df = seatguru_df.rename(columns={
    'Airline Name': 'carrier',
    'Plane Types': 'equipment_cd_icao',
    'Amenities': 'amenities'
})

# Standardize equipment_cd_icao (using the same function as before)
def extract_icao_code(plane_type):
    plane_type = str(plane_type).strip().upper()
    plane_mapping = {
        'AIRBUS A319 (319)': 'A319',
        'AIRBUS A320 (320)': 'A320',
        'AIRBUS A321 (321)': 'A321',
        'ATR 42-600 (ATR)': 'AT46',
        'BOMBARDIER Q400 (DH4)': 'DH8D',
        'AIRBUS A330-200 (332)': 'A332',
        'AIRBUS A330-300 (333)': 'A333',
        'AIRBUS A350-900 (359)': 'A359',
        'AIRBUS A380-800 (388)': 'A388',
        'BOEING 737-700 (737)': 'B737',
        'BOEING 737-800 (738)': 'B738',
        'BOEING 737-900 (739)': 'B739',
        'BOEING 747-400 (744)': 'B744',
        'BOEING 777-200 (772)': 'B772',
        'BOEING 777-300 (773)': 'B773',
        'BOEING 787-8 (788)': 'B788',
        'BOEING 787-9 (789)': 'B789',
        'ATR 72-600 (ATR)': 'AT76',
        'ATR 72-500 (ATR)': 'AT75',
        'EMBRAER 175 (E75)': 'E75L',
        'EMBRAER 190 (E90)': 'E190',
        'EMBRAER 195 (E95)': 'E195',
    }
    if plane_type in plane_mapping:
        return plane_mapping[plane_type]
    match = re.search(r'\(([^)]+)\)', plane_type)
    if match:
        return match.group(1)
    if 'ATR 72' in plane_type:
        return 'AT72'
    elif 'ATR 42' in plane_type:
        return 'AT46'
    elif 'BOEING 737' in plane_type:
        return 'B737'
    elif 'AIRBUS A320' in plane_type:
        return 'A320'
    elif 'AIRBUS A321' in plane_type:
        return 'A321'
    return plane_type.replace(' ', '')

seatguru_df['equipment_cd_icao'] = seatguru_df['equipment_cd_icao'].apply(extract_icao_code)

# Filter for Vistara entries
vistara_entries = seatguru_df[seatguru_df['carrier'] == 'Vistara']

# Print Vistara entries
print("Vistara entries in SeatGuru dataset:")
print(vistara_entries[['carrier', 'equipment_cd_icao', 'amenities']])

Vistara entries in SeatGuru dataset:
      carrier equipment_cd_icao amenities
1239  Vistara               320      Food

In [51]:
import pandas as pd
import re

# File paths
main_file = r"D:\work\WDF_032025_CO2e.csv"
seatguru_file = r"C:\Users\amit.murmu\Downloads\airlines_with_amenities.xlsx"
output_file = r"D:\work\WDF_032025_CO2e_with_amenities.csv"

# Define chunk size
chunk_size = 10000

# Step 1: Load SeatGuru data
seatguru_df = pd.read_excel(seatguru_file)

# Rename columns in SeatGuru data
seatguru_df = seatguru_df.rename(columns={
    'Airline Name': 'carrier',
    'Plane Types': 'equipment_cd_icao',
    'Amenities': 'amenities'
})

# Step 2: Standardize equipment_cd_icao in SeatGuru dataset
def extract_icao_code(plane_type):
    plane_type = str(plane_type).strip().upper()
    plane_mapping = {
        'AIRBUS A319 (319)': 'A319',
        'AIRBUS A320 (320)': 'A320',
        'AIRBUS A321 (321)': 'A321',
        'ATR 42-600 (ATR)': 'AT46',
        'BOMBARDIER Q400 (DH4)': 'DH8D',
        'AIRBUS A330-200 (332)': 'A332',
        'AIRBUS A330-300 (333)': 'A333',
        'AIRBUS A350-900 (359)': 'A359',
        'AIRBUS A380-800 (388)': 'A388',
        'BOEING 737-700 (737)': 'B737',
        'BOEING 737-800 (738)': 'B738',
        'BOEING 737-900 (739)': 'B739',
        'BOEING 747-400 (744)': 'B744',
        'BOEING 777-200 (772)': 'B772',
        'BOEING 777-300 (773)': 'B773',
        'BOEING 787-8 (788)': 'B788',
        'BOEING 787-9 (789)': 'B789',
        'ATR 72-600 (ATR)': 'AT76',
        'ATR 72-500 (ATR)': 'AT75',
        'EMBRAER 175 (E75)': 'E75L',
        'EMBRAER 190 (E90)': 'E190',
        'EMBRAER 195 (E95)': 'E195',
    }
    if plane_type in plane_mapping:
        return plane_mapping[plane_type]
    match = re.search(r'\(([^)]+)\)', plane_type)
    if match:
        return match.group(1)
    if 'ATR 72' in plane_type:
        return 'AT72'
    elif 'ATR 42' in plane_type:
        return 'AT46'
    elif 'BOEING 737' in plane_type:
        return 'B737'
    elif 'AIRBUS A320' in plane_type:
        return 'A320'
    elif 'AIRBUS A321' in plane_type:
        return 'A321'
    return plane_type.replace(' ', '')

seatguru_df['equipment_cd_icao'] = seatguru_df['equipment_cd_icao'].apply(extract_icao_code)

# Step 3: Add manual entry for Vistara AT72
# Assuming amenities for Vistara AT72 are "Food, Wi-Fi" (update based on actual data)
new_entry = pd.DataFrame({
    'carrier': ['Vistara'],
    'equipment_cd_icao': ['AT72'],
    'amenities': ['Food, Wi-Fi']
})
seatguru_df = pd.concat([seatguru_df, new_entry], ignore_index=True)

# Step 4: Map carrier codes to full names in main dataset
carrier_mapping = {
    'VT': 'Vistara',
    'JBW': 'Jubba Airways',
    'AH': 'Air Algerie',
    '5O': 'ASL Airlines France',
    'SF': 'Tassili Airlines',
    'TK': 'Turkish Airlines',
    # Add more mappings based on main dataset carriers
}

# Step 5: Create merge key in SeatGuru data
seatguru_df['merge_key'] = seatguru_df['carrier'].astype(str) + '_' + \
                          seatguru_df['equipment_cd_icao'].astype(str)

# Step 6: Process the main dataset in chunks and merge with SeatGuru data
first_chunk = True
for chunk in pd.read_csv(main_file, chunksize=chunk_size):
    # Map carrier codes to full names
    chunk['carrier_mapped'] = chunk['carrier'].map(carrier_mapping).fillna(chunk['carrier'])
    
    # Create the same merge key in the main dataset chunk
    chunk['merge_key'] = chunk['carrier_mapped'].astype(str) + '_' + \
                        chunk['equipment_cd_icao'].astype(str)

    # Merge with SeatGuru data (left join)
    chunk = chunk.merge(seatguru_df[['merge_key', 'amenities']], 
                        on='merge_key', 
                        how='left')

    # Add fallback for unmatched rows
    chunk['amenities'] = chunk['amenities'].fillna("No Amenities")

    # Drop the merge_key and carrier_mapped columns as they are no longer needed
    chunk = chunk.drop(columns=['merge_key', 'carrier_mapped'])

    # Save to output file (append mode)
    if first_chunk:
        chunk.to_csv(output_file, index=False, mode='w')
        first_chunk = False
    else:
        chunk.to_csv(output_file, index=False, mode='a', header=False)

print(f"Amenities column added. Updated dataset saved to {output_file}")

Amenities column added. Updated dataset saved to D:\work\WDF_032025_CO2e_with_amenities.csv

In [53]:
import pandas as pd

# File path
file_path = r"D:\work\WDF_032025_CO2e_with_amenities.csv"

# Define chunk size
chunk_size = 10000

# Initialize a dictionary to count matches per carrier
carrier_matches = {}

# Process the dataset in chunks
for chunk in pd.read_csv(file_path, chunksize=chunk_size):
    # Count rows with non-default amenities per carrier
    matches = chunk[chunk['amenities'].ne("No Amenities")].groupby('carrier').size()
    for carrier, count in matches.items():
        carrier_matches[carrier] = carrier_matches.get(carrier, 0) + count

# Display matching carriers
print("Carriers with matching amenities (and their counts):")
for carrier, count in carrier_matches.items():
    print(f"{carrier}: {count} rows")

Carriers with matching amenities (and their counts):
TK: 13184 rows
VT: 5636 rows

In [55]:
import pandas as pd

# File path
seatguru_file = r"C:\Users\amit.murmu\Downloads\airlines_with_amenities.xlsx"

# Load SeatGuru data
seatguru_df = pd.read_excel(seatguru_file)

# Rename columns
seatguru_df = seatguru_df.rename(columns={
    'Airline Name': 'carrier',
    'Plane Types': 'equipment_cd_icao',
    'Amenities': 'amenities'
})

# Standardize equipment_cd_icao (using the same function as before)
def extract_icao_code(plane_type):
    plane_type = str(plane_type).strip().upper()
    plane_mapping = {
        'AIRBUS A319 (319)': 'A319',
        'AIRBUS A320 (320)': 'A320',
        'AIRBUS A321 (321)': 'A321',
        'ATR 42-600 (ATR)': 'AT46',
        'BOMBARDIER Q400 (DH4)': 'DH8D',
        'AIRBUS A330-200 (332)': 'A332',
        'AIRBUS A330-300 (333)': 'A333',
        'AIRBUS A350-900 (359)': 'A359',
        'AIRBUS A380-800 (388)': 'A388',
        'BOEING 737-700 (737)': 'B737',
        'BOEING 737-800 (738)': 'B738',
        'BOEING 737-900 (739)': 'B739',
        'BOEING 747-400 (744)': 'B744',
        'BOEING 777-200 (772)': 'B772',
        'BOEING 777-300 (773)': 'B773',
        'BOEING 787-8 (788)': 'B788',
        'BOEING 787-9 (789)': 'B789',
        'ATR 72-600 (ATR)': 'AT76',
        'ATR 72-500 (ATR)': 'AT75',
        'EMBRAER 175 (E75)': 'E75L',
        'EMBRAER 190 (E90)': 'E190',
        'EMBRAER 195 (E95)': 'E195',
    }
    if plane_type in plane_mapping:
        return plane_mapping[plane_type]
    match = re.search(r'\(([^)]+)\)', plane_type)
    if match:
        return match.group(1)
    if 'ATR 72' in plane_type:
        return 'AT72'
    elif 'ATR 42' in plane_type:
        return 'AT46'
    elif 'BOEING 737' in plane_type:
        return 'B737'
    elif 'AIRBUS A320' in plane_type:
        return 'A320'
    elif 'AIRBUS A321' in plane_type:
        return 'A321'
    return plane_type.replace(' ', '')

seatguru_df['equipment_cd_icao'] = seatguru_df['equipment_cd_icao'].apply(extract_icao_code)

# Filter for Air Algerie entries
air_algerie_entries = seatguru_df[seatguru_df['carrier'] == 'Air Algerie']

# Print Air Algerie entries
print("Air Algerie entries in SeatGuru dataset:")
print(air_algerie_entries[['carrier', 'equipment_cd_icao', 'amenities']])

Air Algerie entries in SeatGuru dataset:
Empty DataFrame
Columns: [carrier, equipment_cd_icao, amenities]
Index: []

In [57]:
import pandas as pd
import re

# File paths
main_file = r"D:\work\WDF_032025_CO2e.csv"
seatguru_file = r"C:\Users\amit.murmu\Downloads\airlines_with_amenities.xlsx"
output_file = r"D:\work\WDF_032025_CO2e_with_amenities.csv"

# Define chunk size
chunk_size = 10000

# Step 1: Load SeatGuru data
seatguru_df = pd.read_excel(seatguru_file)

# Rename columns in SeatGuru data
seatguru_df = seatguru_df.rename(columns={
    'Airline Name': 'carrier',
    'Plane Types': 'equipment_cd_icao',
    'Amenities': 'amenities'
})

# Step 2: Standardize equipment_cd_icao in SeatGuru dataset
def extract_icao_code(plane_type):
    plane_type = str(plane_type).strip().upper()
    plane_mapping = {
        'AIRBUS A319 (319)': 'A319',
        'AIRBUS A320 (320)': 'A320',
        'AIRBUS A321 (321)': 'A321',
        'ATR 42-600 (ATR)': 'AT46',
        'BOMBARDIER Q400 (DH4)': 'DH8D',
        'AIRBUS A330-200 (332)': 'A332',
        'AIRBUS A330-300 (333)': 'A333',
        'AIRBUS A350-900 (359)': 'A359',
        'AIRBUS A380-800 (388)': 'A388',
        'BOEING 737-700 (737)': 'B737',
        'BOEING 737-800 (738)': 'B738',
        'BOEING 737-900 (739)': 'B739',
        'BOEING 747-400 (744)': 'B744',
        'BOEING 777-200 (772)': 'B772',
        'BOEING 777-300 (773)': 'B773',
        'BOEING 787-8 (788)': 'B788',
        'BOEING 787-9 (789)': 'B789',
        'ATR 72-600 (ATR)': 'AT76',
        'ATR 72-500 (ATR)': 'AT75',
        'EMBRAER 175 (E75)': 'E75L',
        'EMBRAER 190 (E90)': 'E190',
        'EMBRAER 195 (E95)': 'E195',
    }
    if plane_type in plane_mapping:
        return plane_mapping[plane_type]
    match = re.search(r'\(([^)]+)\)', plane_type)
    if match:
        return match.group(1)
    if 'ATR 72' in plane_type:
        return 'AT72'
    elif 'ATR 42' in plane_type:
        return 'AT46'
    elif 'BOEING 737' in plane_type:
        return 'B737'
    elif 'AIRBUS A320' in plane_type:
        return 'A320'
    elif 'AIRBUS A321' in plane_type:
        return 'A321'
    return plane_type.replace(' ', '')

seatguru_df['equipment_cd_icao'] = seatguru_df['equipment_cd_icao'].apply(extract_icao_code)

# Step 3: Add manual entries for missing carriers
# Manual entries for Vistara (already added), Air Algerie, JBW, 5O, SF
manual_entries = pd.DataFrame({
    'carrier': [
        'Vistara',           # Already added, keeping for completeness
        'Air Algerie',       # For AH_B736
        'Air Algerie',       # For AH_B738
        'Air Algerie',       # For AH_AT72
        'Jubba Airways',     # For JBW_F50
        'ASL Airlines France', # For 5O_B737
        'Tassili Airlines'   # For SF_DH8D
    ],
    'equipment_cd_icao': [
        'AT72',              # Vistara AT72
        'B736',              # Air Algerie B736
        'B738',              # Air Algerie B738
        'AT72',              # Air Algerie AT72
        'F50',               # Jubba Airways F50
        'B737',              # ASL Airlines France B737
        'DH8D'               # Tassili Airlines DH8D
    ],
    'amenities': [
        'Food, Wi-Fi',       # Vistara AT72 (assumed)
        'Food',              # Air Algerie B736 (assumed)
        'Food',              # Air Algerie B738 (assumed)
        'Food',              # Air Algerie AT72 (assumed)
        'No Amenities',      # Jubba Airways F50 (assumed)
        'No Amenities',      # ASL Airlines France B737 (assumed)
        'No Amenities'       # Tassili Airlines DH8D (assumed)
    ]
})

# Append manual entries to SeatGuru dataset
seatguru_df = pd.concat([seatguru_df, manual_entries], ignore_index=True)

# Step 4: Map carrier codes to full names in main dataset
carrier_mapping = {
    'VT': 'Vistara',
    'JBW': 'Jubba Airways',
    'AH': 'Air Algerie',
    '5O': 'ASL Airlines France',
    'SF': 'Tassili Airlines',
    'TK': 'Turkish Airlines',
    # Add more mappings based on main dataset carriers
}

# Step 5: Create merge key in SeatGuru data
seatguru_df['merge_key'] = seatguru_df['carrier'].astype(str) + '_' + \
                          seatguru_df['equipment_cd_icao'].astype(str)

# Step 6: Process the main dataset in chunks and merge with SeatGuru data
first_chunk = True
for chunk in pd.read_csv(main_file, chunksize=chunk_size):
    # Map carrier codes to full names
    chunk['carrier_mapped'] = chunk['carrier'].map(carrier_mapping).fillna(chunk['carrier'])
    
    # Create the same merge key in the main dataset chunk
    chunk['merge_key'] = chunk['carrier_mapped'].astype(str) + '_' + \
                        chunk['equipment_cd_icao'].astype(str)

    # Merge with SeatGuru data (left join)
    chunk = chunk.merge(seatguru_df[['merge_key', 'amenities']], 
                        on='merge_key', 
                        how='left')

    # Add fallback for unmatched rows
    chunk['amenities'] = chunk['amenities'].fillna("No Amenities")

    # Drop the merge_key and carrier_mapped columns as they are no longer needed
    chunk = chunk.drop(columns=['merge_key', 'carrier_mapped'])

    # Save to output file (append mode)
    if first_chunk:
        chunk.to_csv(output_file, index=False, mode='w')
        first_chunk = False
    else:
        chunk.to_csv(output_file, index=False, mode='a', header=False)

print(f"Amenities column added. Updated dataset saved to {output_file}")

Amenities column added. Updated dataset saved to D:\work\WDF_032025_CO2e_with_amenities.csv

In [59]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# File paths
input_file = r"D:\work\WDF_032025_CO2e_with_amenities.csv"
output_file = r"D:\work\WDF_032025_CO2e_with_amenities_otp.csv"

# Define chunk size
chunk_size = 10000

# Step 1: Helper functions
def generate_random_date():
    # Generate a random date in March 2025
    start_date = datetime(2025, 3, 1)
    end_date = datetime(2025, 3, 31)
    delta = end_date - start_date
    random_days = np.random.randint(0, delta.days + 1)
    return start_date + timedelta(days=random_days)

def generate_random_time():
    # Generate a random time (HH:MM)
    hours = np.random.randint(0, 24)
    minutes = np.random.randint(0, 60)
    return f"{hours:02d}:{minutes:02d}"

def calculate_flight_duration(distance_km):
    # Estimate flight duration based on distance
    # Average speed: 800 km/h
    # Add 30 minutes for taxi time
    flight_hours = distance_km / 800
    total_minutes = int(flight_hours * 60) + 30  # Convert to minutes and add taxi time
    return total_minutes

def generate_delayed_time(scheduled_time, delay_prob):
    # Parse scheduled time (HH:MM)
    scheduled = datetime.strptime(scheduled_time, "%H:%M")
    
    # Decide delay based on probability distribution
    rand = np.random.random()
    if rand < 0.7:  # 70% chance of no delay
        delay_minutes = 0
    elif rand < 0.9:  # 20% chance of minor delay (15-30 minutes)
        delay_minutes = np.random.randint(15, 31)
    else:  # 10% chance of major delay (30-60 minutes)
        delay_minutes = np.random.randint(30, 61)
    
    delayed = scheduled + timedelta(minutes=delay_minutes)
    return delayed.strftime("%H:%M")

def is_on_time(scheduled, estimated):
    # Check if estimated time is within 15 minutes of scheduled time
    scheduled_dt = datetime.strptime(scheduled, "%H:%M")
    estimated_dt = datetime.strptime(estimated, "%H:%M")
    delta = abs((estimated_dt - scheduled_dt).total_seconds()) / 60  # Difference in minutes
    return delta <= 15

# Step 2: Process the dataset in chunks and add temporary columns
temp_file = r"D:\work\temp_with_timings.csv"
first_chunk = True
for chunk in pd.read_csv(input_file, chunksize=chunk_size):
    # Add flight date
    chunk['flight_date'] = [generate_random_date().strftime("%Y-%m-%d") for _ in range(len(chunk))]
    
    # Add STD (Scheduled Time of Departure)
    chunk['STD'] = [generate_random_time() for _ in range(len(chunk))]
    
    # Calculate STA (Scheduled Time of Arrival)
    chunk['duration_minutes'] = chunk['distance_in_km'].apply(calculate_flight_duration)
    chunk['STA'] = chunk.apply(lambda row: (datetime.strptime(row['STD'], "%H:%M") + 
                                            timedelta(minutes=row['duration_minutes'])).strftime("%H:%M"), axis=1)
    
    # Generate ETD (Estimated Time of Departure)
    chunk['ETD'] = chunk['STD'].apply(lambda x: generate_delayed_time(x, delay_prob=0.7))
    
    # Generate ETA (Estimated Time of Arrival)
    chunk['ETA'] = chunk['STA'].apply(lambda x: generate_delayed_time(x, delay_prob=0.7))
    
    # Check if flight is on-time
    chunk['on_time_departure'] = chunk.apply(lambda row: is_on_time(row['STD'], row['ETD']), axis=1)
    chunk['on_time_arrival'] = chunk.apply(lambda row: is_on_time(row['STA'], row['ETA']), axis=1)
    chunk['on_time'] = chunk['on_time_departure'] & chunk['on_time_arrival']
    
    # Save to temporary file (append mode)
    if first_chunk:
        chunk.to_csv(temp_file, index=False, mode='w')
        first_chunk = False
    else:
        chunk.to_csv(temp_file, index=False, mode='a', header=False)

# Step 3: Calculate daily OTP% per flight
# Load the temporary file
temp_df = pd.read_csv(temp_file)

# Create a flight identifier (carrier + fltno)
temp_df['flight_id'] = temp_df['carrier'].astype(str) + '_' + temp_df['fltno'].astype(str)

# Group by flight_id and flight_date to calculate daily OTP%
daily_otp = temp_df.groupby(['flight_id', 'flight_date'])['on_time'].mean().reset_index()
daily_otp['otp%'] = (daily_otp['on_time'] * 100).round(2)

# Step 4: Merge OTP% back into the main dataset
first_chunk = True
for chunk in pd.read_csv(temp_file, chunksize=chunk_size):
    # Create flight_id in the chunk
    chunk['flight_id'] = chunk['carrier'].astype(str) + '_' + chunk['fltno'].astype(str)
    
    # Merge with daily_otp to get otp%
    chunk = chunk.merge(daily_otp[['flight_id', 'flight_date', 'otp%']], 
                        on=['flight_id', 'flight_date'], 
                        how='left')
    
    # Drop temporary columns
    chunk = chunk.drop(columns=['flight_date', 'STD', 'STA', 'ETD', 'ETA', 
                                'duration_minutes', 'on_time_departure', 
                                'on_time_arrival', 'on_time', 'flight_id'])
    
    # Save to final output file (append mode)
    if first_chunk:
        chunk.to_csv(output_file, index=False, mode='w')
        first_chunk = False
    else:
        chunk.to_csv(output_file, index=False, mode='a', header=False)

print(f"OTP% column added. Updated dataset saved to {output_file}")

C:\Users\amit.murmu\AppData\Local\Temp\ipykernel_11624\1695379915.py:93: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_df = pd.read_csv(temp_file)

OTP% column added. Updated dataset saved to D:\work\WDF_032025_CO2e_with_amenities_otp.csv

In [61]:
import pandas as pd

# File path
file_path = r"D:\work\WDF_032025_CO2e_with_amenities_otp.csv"

# Define chunk size
chunk_size = 10000

# Initialize variables
sample_data = None
total_rows = 0
avg_otp = 0

# Process the dataset in chunks
for chunk in pd.read_csv(file_path, chunksize=chunk_size):
    # Get sample data (first 5 rows) if not already collected
    if sample_data is None:
        sample_data = chunk.head(5)
    
    # Count total rows
    total_rows += len(chunk)
    
    # Calculate average OTP% (for quality check)
    avg_otp += chunk['otp%'].sum()

# Calculate overall average OTP%
avg_otp = avg_otp / total_rows

# Display sample data
print("Sample data with OTP% (first 5 rows):")
print(sample_data)

# Display data quality summary
print("\nData Quality Summary:")
print(f"Total rows: {total_rows}")
print(f"Average OTP%: {avg_otp:.2f}%")

Sample data with OTP% (first 5 rows):
  carrier  fltno fltsuffx depapt arrapt  distance_in_km equipment_cd_icao  \
0      VT    979      NaN    AAA    FAC        75.63898              AT72
1      VT    959      NaN    AAA    FAC        75.63898              AT72
2      VT    959      NaN    AAA    FAC        75.63898              AT72
3      VT    959      NaN    AAA    FAC        75.63898              AT72
4      VT    979      NaN    AAA    FAC        75.63898              AT72

   seatsfst  seatsbus  seatspremeco  seatseco  stops  co2e_per_passenger_kg  \
0         0         0             0        58      0                  11.44
1         0         4             0        52      0                  12.25
2         0         0             0        56      0                  11.44
3         0         4             0        52      0                  12.25
4         0         4             0        60      0                  12.15

     amenities   otp%
0  Food, Wi-Fi   50.0
1  Food, Wi-Fi   40.0
2  Food, Wi-Fi   75.0
3  Food, Wi-Fi  100.0
4  Food, Wi-Fi   60.0

Data Quality Summary:
Total rows: 7960863
Average OTP%: 50.75%

In [63]:
import pandas as pd

# Path to the dataset
DATASET_PATH = r"D:\work\WDF_032025_CO2e_with_amenities_otp.csv"

# Load the dataset
df = pd.read_csv(DATASET_PATH, dtype={'fltsuffx': str})

# Step 1: Check current amenities distribution
print("Current Amenities Distribution:")
print(df['amenities'].value_counts(dropna=False))

# Step 2: Define amenities mapping based on carrier and aircraft type
def assign_amenities(row):
    carrier = row['carrier']
    aircraft = row['equipment_cd_icao']
    
    # Low-cost airlines (typically no Wi-Fi, only Food)
    low_cost_airlines = ['6E', 'QP', 'SG']  # IndiGo, Akasa Air, SpiceJet
    # Full-service airlines (Food, Wi-Fi, sometimes Entertainment)
    full_service_airlines = ['AI', 'VT', 'UK']  # Air India, Vistara
    
    # Smaller aircraft (e.g., turboprops like AT72) typically don't have Wi-Fi
    small_aircraft = ['AT72', 'ATR', 'DH8D']
    
    if carrier in low_cost_airlines:
        return "Food"  # Low-cost airlines mein sirf Food (purchasable)
    elif carrier in full_service_airlines:
        if aircraft in small_aircraft:
            return "Food"  # Smaller aircraft mein Wi-Fi nahi hota
        else:
            return "Food, Wi-Fi"  # Full-service airlines mein Food aur Wi-Fi
    else:
        # Default for other airlines (e.g., international or unknown carriers)
        if aircraft in small_aircraft:
            return "Food"
        else:
            return "Food, Wi-Fi"

# Step 3: Apply the amenities mapping to the dataset
df['amenities'] = df.apply(assign_amenities, axis=1)

# Step 4: Verify the updated amenities distribution
print("\nUpdated Amenities Distribution:")
print(df['amenities'].value_counts(dropna=False))

# Step 5: Save the updated dataset
OUTPUT_PATH = r"D:\work\WDF_032025_CO2e_with_amenities_otp_updated.csv"
df.to_csv(OUTPUT_PATH, index=False)
print(f"\nUpdated dataset saved to: {OUTPUT_PATH}")

# Step 6: Show sample data (first 5 rows)
print("\nSample data with updated amenities (first 5 rows):")
print(df.head())

Current Amenities Distribution:
amenities
No Amenities                        7936540
Food, Tv, Headphones                   7673
Food, Wi-Fi                            5636
Food, Wifi, Elec, Tv, Headphones       5511
Food                                   5503
Name: count, dtype: int64

Updated Amenities Distribution:
amenities
Food, Wi-Fi    7800989
Food            159874
Name: count, dtype: int64

Updated dataset saved to: D:\work\WDF_032025_CO2e_with_amenities_otp_updated.csv

Sample data with updated amenities (first 5 rows):
  carrier  fltno fltsuffx depapt arrapt  distance_in_km equipment_cd_icao  \
0      VT    979      NaN    AAA    FAC        75.63898              AT72
1      VT    959      NaN    AAA    FAC        75.63898              AT72
2      VT    959      NaN    AAA    FAC        75.63898              AT72
3      VT    959      NaN    AAA    FAC        75.63898              AT72
4      VT    979      NaN    AAA    FAC        75.63898              AT72

   seatsfst  seatsbus  seatspremeco  seatseco  stops  co2e_per_passenger_kg  \
0         0         0             0        58      0                  11.44
1         0         4             0        52      0                  12.25
2         0         0             0        56      0                  11.44
3         0         4             0        52      0                  12.25
4         0         4             0        60      0                  12.15

  amenities   otp%
0      Food   50.0
1      Food   40.0
2      Food   75.0
3      Food  100.0
4      Food   60.0

In [65]:
import pandas as pd

# Path to the dataset
DATASET_PATH = r"D:\work\WDF_032025_CO2e_with_amenities_otp.csv"

# Load the dataset
df = pd.read_csv(DATASET_PATH, dtype={'fltsuffx': str})

# Extract unique carriers and aircraft types
unique_carriers = sorted(df['carrier'].unique())
unique_aircraft = sorted(df['equipment_cd_icao'].unique())

# Print the unique values
print("Unique Carriers in Dataset:")
print(unique_carriers)
print("\nUnique Aircraft Types in Dataset:")
print(unique_aircraft)

Unique Carriers in Dataset:
['0B', '0N', '2A', '2E', '2I', '2J', '2L', '2M', '2N', '2O', '2R', '2S', '2T', '2U', '2W', '2Z', '3A', '3C', '3F', '3H', '3K', '3L', '3M', '3O', '3P', '3R', '3T', '3U', '3Z', '4A', '4B', '4F', '4G', '4I', '4N', '4O', '4R', '4S', '4T', '4U', '4W', '4Y', '4Z', '5A', '5E', '5F', '5G', '5I', '5J', '5L', '5M', '5N', '5O', '5R', '5T', '5U', '5V', '5W', '5Z', '6A', '6D', '6E', '6F', '6G', '6H', '6I', '6J', '6R', '78V', '7BZ', '7C', '7F', '7G', '7H', '7O', '7P', '7R', '7S', '7V', '7Y', '7Z', '8B', '8D', '8E', '8F', '8G', '8J', '8L', '8M', '8N', '8P', '8S', '8T', '8U', '8V', '8W', '8Z', '9B', '9C', '9D', '9F', '9H', '9I', '9K', '9M', '9N', '9P', '9Q', '9R', '9S', '9V', '9X', 'A1', 'A2', 'A3', 'A4', 'A6', 'A8', 'A9', 'AA', 'AAT', 'AC', 'AD', 'AE', 'AF', 'AGU', 'AH', 'AI', 'AJ', 'AK', 'AKU', 'AM', 'AMT', 'AN', 'AQ', 'AR', 'AS', 'AT', 'ATM', 'AUD', 'AV', 'AW', 'AXK', 'AY', 'AZ', 'B0', 'B2', 'B3', 'B4', 'B6', 'B7', 'B9', 'BA', 'BB', 'BC', 'BF', 'BG', 'BI', 'BJ', 'BK', 'BL', 'BLX', 'BM', 'BP', 'BQ', 'BR', 'BS', 'BT', 'BU', 'BV', 'BW', 'BX', 'BZ', 'C2', 'C3', 'C6', 'C7', 'C8', 'CA', 'CAT', 'CD', 'CE', 'CG', 'CI', 'CM', 'CN', 'CON', 'CPN', 'CQ', 'CU', 'CVZ', 'CWM', 'CX', 'CY', 'CZ', 'D2', 'D3', 'D7', 'D8', 'D9', 'DCT', 'DD', 'DE', 'DG', 'DI', 'DJ', 'DK', 'DL', 'DM', 'DMS', 'DN', 'DO', 'DR', 'DT', 'DU', 'DV', 'DX', 'DY', 'DZ', 'DZD', 'E2', 'E3', 'E4', 'E5', 'E9', 'EGU', 'EI', 'EJ', 'EK', 'EKA', 'EN', 'ENT', 'EO', 'EP', 'EQ', 'ER', 'ES', 'ET', 'EU', 'EW', 'EY', 'F2', 'F3', 'F4', 'F8', 'F9', 'FA', 'FB', 'FC', 'FD', 'FG', 'FH', 'FI', 'FJ', 'FL', 'FLG', 'FM', 'FN', 'FNA', 'FO', 'FP', 'FQ', 'FR', 'FRC', 'FS', 'FTR', 'FU', 'FW', 'FY', 'FZ', 'G3', 'G4', 'G5', 'G7', 'G9', 'GA', 'GAL', 'GD', 'GE', 'GF', 'GJ', 'GK', 'GL', 'GM', 'GMT', 'GP', 'GQ', 'GR', 'GS', 'GT', 'GUM', 'GV', 'GW', 'GX', 'GY', 'GZ', 'H2', 'H4', 'H5', 'H7', 'H8', 'H9', 'HA', 'HB', 'HBR', 'HC', 'HD', 'HF', 'HH', 'HI', 'HK', 'HM', 'HN', 'HO', 'HP', 'HR', 'HT', 'HTY', 'HU', 'HV', 'HW', 'HX', 'HY', 'HZ', 'I4', 'I6', 'I7', 'I8', 'IA', 'IB', 'IC', 'ID', 'IE', 'IF', 'IFY', 'II', 'IJ', 'IK', 'IL', 'IN', 'IO', 'IOS', 'IP', 'IQ', 'IR', 'IRU', 'IRZ', 'IS', 'IT', 'IU', 'IV', 'IW', 'IX', 'IY', 'IZ', 'IZG', 'J2', 'J4', 'J5', 'J7', 'J8', 'J9', 'JA', 'JBA', 'JBW', 'JD', 'JH', 'JI', 'JL', 'JM', 'JN', 'JQ', 'JR', 'JS', 'JT', 'JTU', 'JU', 'JV', 'JWX', 'JX', 'JY', 'K2', 'K3', 'K6', 'K7', 'K9', 'KA', 'KAE', 'KAI', 'KB', 'KC', 'KE', 'KG', 'KGN', 'KGZ', 'KHF', 'KK', 'KL', 'KM', 'KMA', 'KMW', 'KN', 'KNW', 'KP', 'KQ', 'KR', 'KRU', 'KT', 'KU', 'KV', 'KX', 'KY', 'L4', 'L5', 'L6', 'L8', 'L9', 'LA', 'LC', 'LE', 'LF', 'LG', 'LH', 'LID', 'LJ', 'LK', 'LM', 'LN', 'LNH', 'LO', 'LS', 'LT', 'LTR', 'LX', 'LY', 'LZ', 'M0', 'M5', 'MD', 'ME', 'MF', 'MH', 'MK', 'MKB', 'ML', 'MM', 'MO', 'MR', 'MS', 'MU', 'MUS', 'MX', 'MZ', 'N0', 'N2', 'N3', 'N4', 'N5', 'N9', 'NAL', 'NB', 'NE', 'NEA', 'NF', 'NH', 'NK', 'NM', 'NO', 'NP', 'NQ', 'NR', 'NS', 'NT', 'NU', 'NX', 'NZ', 'OA', 'OAO', 'OB', 'OC', 'OD', 'OF', 'OG', 'OI', 'OJ', 'OL', 'OM', 'ON', 'OP', 'OQ', 'OR', 'OS', 'OU', 'OV', 'OW', 'OZ', 'P0', 'P2', 'P4', 'P5', 'P6', 'PA', 'PB', 'PC', 'PD', 'PE', 'PF', 'PG', 'PJ', 'PK', 'PL', 'PM', 'PN', 'PNP', 'PNX', 'PP', 'PR', 'PTK', 'PU', 'PV', 'PW', 'PX', 'PY', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q9', 'QC', 'QF', 'QG', 'QH', 'QI', 'QL', 'QN', 'QP', 'QQ', 'QR', 'QS', 'QU', 'QV', 'QW', 'QZ', 'R2', 'R3', 'R4', 'R5', 'RA', 'RB', 'RC', 'RF', 'RJ', 'RK', 'RKA', 'RLY', 'RN', 'RNG', 'RO', 'RQ', 'RRV', 'RS', 'RSI', 'RT', 'RTU', 'RVP', 'RW', 'RY', 'RZ', 'S0', 'S2', 'S4', 'S5', 'S6', 'S7', 'S8', 'SA', 'SAW', 'SB', 'SC', 'SEN', 'SF', 'SG', 'SH', 'SI', 'SJ', 'SJN', 'SK', 'SL', 'SM', 'SN', 'SOA', 'SP', 'SQ', 'SQS', 'SR', 'SS', 'SSU', 'ST', 'SU', 'SV', 'SVD', 'SX', 'SY', 'SZ', 'T3', 'T5', 'T6', 'T7', 'T9', 'TB', 'TBZ', 'TC', 'TG', 'TGY', 'THU', 'TI', 'TJ', 'TK', 'TL', 'TM', 'TN', 'TO', 'TOM', 'TP', 'TR', 'TS', 'TSG', 'TU', 'TV', 'TW', 'TWC', 'TX', 'TY', 'U2', 'U4', 'U5', 'U6', 'U8', 'UA', 'UB', 'UD', 'UG', 'UI', 'UJ', 'UL', 'UM', 'UN', 'UO', 'UP', 'UQ', 'UR', 'US', 'UT', 'UU', 'UX', 'UZ', 'V0', 'V4', 'V5', 'V7', 'V8', 'VA', 'VB', 'VC', 'VE', 'VF', 'VGV', 'VJ', 'VK', 'VL', 'VN', 'VO', 'VP', 'VQ', 'VR', 'VS', 'VT', 'VU', 'VY', 'VZ', 'W1', 'W2', 'W3', 'W4', 'W5', 'W6', 'W7', 'W9', 'WA', 'WB', 'WF', 'WG', 'WK', 'WM', 'WN', 'WP', 'WS', 'WT', 'WU', 'WV', 'WW', 'WY', 'WZ', 'X3', 'X4', 'XC', 'XE', 'XG', 'XJ', 'XK', 'XLL', 'XN', 'XP', 'XQ', 'XR', 'XY', 'XZ', 'Y2', 'Y4', 'Y7', 'Y8', 'YB', 'YC', 'YI', 'YK', 'YL', 'YN', 'YP', 'YR', 'YS', 'YT', 'YU', 'YW', 'Z0', 'Z2', 'ZA', 'ZB', 'ZD', 'ZE', 'ZF', 'ZG', 'ZH', 'ZL', 'ZN', 'ZP', 'ZV']

Unique Aircraft Types in Dataset:
['*', 'A109', 'A139', 'A148', 'A19N', 'A20N', 'A21N', 'A306', 'A30B', 'A318', 'A319', 'A320', 'A321', 'A332', 'A333', 'A338', 'A339', 'A342', 'A343', 'A346', 'A359', 'A35K', 'A388', 'AJ27', 'AN24', 'AN26', 'AN38', 'AS50', 'AT43', 'AT72', 'B06', 'B190', 'B37M', 'B38M', 'B39M', 'B462', 'B463', 'B712', 'B732', 'B733', 'B734', 'B735', 'B736', 'B737', 'B738', 'B739', 'B744', 'B748', 'B752', 'B753', 'B762', 'B763', 'B764', 'B772', 'B773', 'B77L', 'B77W', 'B788', 'B789', 'B78X', 'BCS1', 'BCS3', 'BN2P', 'C208', 'CL30', 'CRJ1', 'CRJ2', 'CRJ7', 'CRJ9', 'CRJX', 'D228', 'D328', 'DA42', 'DA62', 'DH3T', 'DH8A', 'DH8B', 'DH8C', 'DH8D', 'DHC2', 'DHC4', 'DHC6', 'DHC7', 'E110', 'E120', 'E135', 'E145', 'E170', 'E190', 'E195', 'E75L', 'EC30', 'EC55', 'F100', 'F50', 'F70', 'J328', 'JS31', 'JS32', 'JS41', 'L410', 'MD82', 'MD83', 'MI8', 'P212', 'PC12', 'RJ85', 'S76', 'SB20', 'SF34', 'SU95', 'SW4', 'T154', 'T204', 'TRIS', 'YK40', 'YK42']

In [67]:
import pandas as pd

# Path to the dataset
DATASET_PATH = r"D:\work\WDF_032025_CO2e_with_amenities_otp.csv"

# Load the dataset
df = pd.read_csv(DATASET_PATH, dtype={'fltsuffx': str})

# Step 1: Check current amenities distribution
print("Current Amenities Distribution:")
print(df['amenities'].value_counts(dropna=False))

# Step 2: Define comprehensive mapping
# IATA-based airline type mapping
low_cost_airlines = [
    '6E', 'QP', 'SG', 'G8', 'I5',  # Indian low-cost
    'AK', 'D7', 'FD', 'FR', 'U2', 'W6', 'NK', 'F9', 'B6', 'WN',  # International low-cost
    'VY', 'DY', 'EW', 'JQ', '3K', 'OD', 'IX', 'G9', 'FZ'
]

full_service_airlines = [
    'AI', 'VT', 'UK', '9I',  # Indian full-service
    'EK', 'SQ', 'QR', 'LH', 'BA', 'AF', 'KL', 'DL', 'AA', 'UA',  # International full-service
    'CX', 'JL', 'NH', 'KE', 'OZ', 'TG', 'MH', 'GA', 'VN', 'PR',
    'QF', 'NZ', 'ET', 'TK', 'MS', 'SV', 'EY', 'KU', 'WY', 'UL',
    'IB', 'AY', 'LO', 'OS', 'LX', 'SK', 'TP', 'AC', 'AV', 'LA',
    'AM', 'AR', 'CA', 'CZ', 'MU', 'HU'
]

# ICAO-based aircraft type mapping
small_aircraft = [
    # Turboprops
    'AT72', 'AT43', 'DH8A', 'DH8B', 'DH8C', 'DH8D', 'DHC2', 'DHC4', 'DHC6', 'DHC7',
    'BN2P', 'SF34', 'JS31', 'JS32', 'JS41', 'L410', 'SW4',
    # Regional Jets
    'CRJ1', 'CRJ2', 'CRJ7', 'CRJ9', 'CRJX', 'E110', 'E120', 'E135', 'E145', 'E170',
    'B190', 'D228', 'D328', 'J328', 'RJ85',
    # Other Small Aircraft
    'C208', 'PC12', 'TRIS', 'AN24', 'AN26', 'AN38', 'YK40', 'YK42',
    # Helicopters
    'A109', 'A139', 'B06', 'EC30', 'EC55', 'S76', 'MI8'
]

# Step 3: Define amenities assignment logic
def assign_amenities(row):
    carrier = row['carrier']
    aircraft = row['equipment_cd_icao']
    distance = row['distance_in_km']
    
    # Determine airline type
    if carrier in low_cost_airlines:
        return "Food"  # Low-cost: only Food
    elif carrier in full_service_airlines:
        # Full-service airlines
        if aircraft in small_aircraft:
            return "Food"  # Small aircraft: only Food
        else:
            return "Food, Entertainment"  # Full-service: Food + Entertainment
    else:
        # Default for other airlines (assume full-service for international)
        if aircraft in small_aircraft:
            return "Food"
        else:
            return "Food, Entertainment"

# Step 4: Apply the amenities mapping to the dataset
df['amenities'] = df.apply(assign_amenities, axis=1)

# Step 5: Verify the updated amenities distribution
print("\nUpdated Amenities Distribution:")
print(df['amenities'].value_counts(dropna=False))

# Step 6: Save the updated dataset
OUTPUT_PATH = r"D:\work\WDF_032025_CO2e_with_amenities_otp_updated.csv"
df.to_csv(OUTPUT_PATH, index=False)
print(f"\nUpdated dataset saved to: {OUTPUT_PATH}")

# Step 7: Show sample data (first 5 rows)
print("\nSample data with updated amenities (first 5 rows):")
print(df.head())

Current Amenities Distribution:
amenities
No Amenities                        7936540
Food, Tv, Headphones                   7673
Food, Wi-Fi                            5636
Food, Wifi, Elec, Tv, Headphones       5511
Food                                   5503
Name: count, dtype: int64

Updated Amenities Distribution:
amenities
Food, Entertainment    6096662
Food                   1864201
Name: count, dtype: int64

Updated dataset saved to: D:\work\WDF_032025_CO2e_with_amenities_otp_updated.csv

Sample data with updated amenities (first 5 rows):
  carrier  fltno fltsuffx depapt arrapt  distance_in_km equipment_cd_icao  \
0      VT    979      NaN    AAA    FAC        75.63898              AT72
1      VT    959      NaN    AAA    FAC        75.63898              AT72
2      VT    959      NaN    AAA    FAC        75.63898              AT72
3      VT    959      NaN    AAA    FAC        75.63898              AT72
4      VT    979      NaN    AAA    FAC        75.63898              AT72

   seatsfst  seatsbus  seatspremeco  seatseco  stops  co2e_per_passenger_kg  \
0         0         0             0        58      0                  11.44
1         0         4             0        52      0                  12.25
2         0         0             0        56      0                  11.44
3         0         4             0        52      0                  12.25
4         0         4             0        60      0                  12.15

  amenities   otp%
0      Food   50.0
1      Food   40.0
2      Food   75.0
3      Food  100.0
4      Food   60.0

In [69]:
import pandas as pd

# Path to the dataset
DATASET_PATH = r"D:\work\WDF_032025_CO2e_with_amenities_otp.csv"

# Load the dataset
df = pd.read_csv(DATASET_PATH, dtype={'fltsuffx': str})

# Step 1: Check current amenities distribution
print("Current Amenities Distribution:")
print(df['amenities'].value_counts(dropna=False))

# Step 2: Define comprehensive mapping
# IATA-based airline type mapping
low_cost_airlines = [
    '6E', 'QP', 'SG', 'G8', 'I5',  # Indian low-cost
    'AK', 'D7', 'FD', 'FR', 'U2', 'W6', 'NK', 'F9', 'B6', 'WN',  # International low-cost
    'VY', 'DY', 'EW', 'JQ', '3K', 'OD', 'IX', 'G9', 'FZ',
    # Add more low-cost airlines
    'XY',  # Flynas (Saudi Arabia)
    'PC',  # Pegasus Airlines (Turkey)
    'W4',  # Wizz Air Malta
    '3O',  # Air Arabia Maroc
    '5W',  # Wizz Air Abu Dhabi
    'BL',  # Jetstar Pacific (Vietnam)
    'Z2',  # AirAsia Philippines
    'SL',  # Thai Lion Air
    'ID',  # Batik Air (semi-low-cost)
    'VA',  # Virgin Australia (semi-low-cost)
    'WS',  # WestJet (semi-low-cost)
]

full_service_airlines = [
    'AI', 'VT', 'UK', '9I',  # Indian full-service
    'EK', 'SQ', 'QR', 'LH', 'BA', 'AF', 'KL', 'DL', 'AA', 'UA',  # International full-service
    'CX', 'JL', 'NH', 'KE', 'OZ', 'TG', 'MH', 'GA', 'VN', 'PR',
    'QF', 'NZ', 'ET', 'TK', 'MS', 'SV', 'EY', 'KU', 'WY', 'UL',
    'IB', 'AY', 'LO', 'OS', 'LX', 'SK', 'TP', 'AC', 'AV', 'LA',
    'AM', 'AR', 'CA', 'CZ', 'MU', 'HU'
]

# ICAO-based aircraft type mapping
small_aircraft = [
    # Turboprops
    'AT72', 'AT43', 'DH8A', 'DH8B', 'DH8C', 'DH8D', 'DHC2', 'DHC4', 'DHC6', 'DHC7',
    'BN2P', 'SF34', 'JS31', 'JS32', 'JS41', 'L410', 'SW4',
    # Regional Jets
    'CRJ1', 'CRJ2', 'CRJ7', 'CRJ9', 'CRJX', 'E110', 'E120', 'E135', 'E145', 'E170',
    'B190', 'D228', 'D328', 'J328', 'RJ85',
    # Other Small Aircraft
    'C208', 'PC12', 'TRIS', 'AN24', 'AN26', 'AN38', 'YK40', 'YK42',
    # Helicopters
    'A109', 'A139', 'B06', 'EC30', 'EC55', 'S76', 'MI8'
]

# Step 3: Define amenities assignment logic
def assign_amenities(row):
    carrier = row['carrier']
    aircraft = row['equipment_cd_icao']
    distance = row['distance_in_km']
    
    # Determine airline type
    if carrier in low_cost_airlines:
        return "Food"  # Low-cost: only Food
    elif carrier in full_service_airlines:
        # Full-service airlines
        if aircraft in small_aircraft:
            return "Food"  # Small aircraft: only Food
        else:
            return "Food, Entertainment"  # Full-service: Food + Entertainment
    else:
        # Default for other airlines (assume full-service for international)
        if aircraft in small_aircraft:
            return "Food"
        else:
            return "Food, Entertainment"

# Step 4: Apply the amenities mapping to the dataset
df['amenities'] = df.apply(assign_amenities, axis=1)

# Step 5: Verify the updated amenities distribution
print("\nUpdated Amenities Distribution:")
print(df['amenities'].value_counts(dropna=False))

# Step 6: Save the updated dataset
OUTPUT_PATH = r"D:\work\WDF_032025_CO2e_with_amenities_otp_updated.csv"
df.to_csv(OUTPUT_PATH, index=False)
print(f"\nUpdated dataset saved to: {OUTPUT_PATH}")

# Step 7: Show sample data (first 5 rows)
print("\nSample data with updated amenities (first 5 rows):")
print(df.head())

Current Amenities Distribution:
amenities
No Amenities                        7936540
Food, Tv, Headphones                   7673
Food, Wi-Fi                            5636
Food, Wifi, Elec, Tv, Headphones       5511
Food                                   5503
Name: count, dtype: int64

Updated Amenities Distribution:
amenities
Food, Entertainment    5890819
Food                   2070044
Name: count, dtype: int64

Updated dataset saved to: D:\work\WDF_032025_CO2e_with_amenities_otp_updated.csv

Sample data with updated amenities (first 5 rows):
  carrier  fltno fltsuffx depapt arrapt  distance_in_km equipment_cd_icao  \
0      VT    979      NaN    AAA    FAC        75.63898              AT72
1      VT    959      NaN    AAA    FAC        75.63898              AT72
2      VT    959      NaN    AAA    FAC        75.63898              AT72
3      VT    959      NaN    AAA    FAC        75.63898              AT72
4      VT    979      NaN    AAA    FAC        75.63898              AT72

   seatsfst  seatsbus  seatspremeco  seatseco  stops  co2e_per_passenger_kg  \
0         0         0             0        58      0                  11.44
1         0         4             0        52      0                  12.25
2         0         0             0        56      0                  11.44
3         0         4             0        52      0                  12.25
4         0         4             0        60      0                  12.15

  amenities   otp%
0      Food   50.0
1      Food   40.0
2      Food   75.0
3      Food  100.0
4      Food   60.0

In [71]:
import pandas as pd
from flask import Flask, render_template, request, jsonify

app = Flask(__name__)

# Path to the updated dataset
DATASET_PATH = r"C:\Users\amit.murmu\Desktop\flight_emissions_demo\WDF_032025_CO2e_with_amenities_otp_updated.csv"

# Load and cache the dataset with dtype specification
df = pd.read_csv(DATASET_PATH, dtype={'fltsuffx': str}, low_memory=False)

# Get unique airports for autocomplete
airports = sorted(set(df['depapt'].tolist() + df['arrapt'].tolist()))

@app.route('/')
def index():
    return render_template('index.html', airports=airports)

@app.route('/search', methods=['POST'])
def search():
    # Get form inputs
    depapt = request.form.get('depapt', '').strip().upper()
    arrapt = request.form.get('arrapt', '').strip().upper()
    fltno = request.form.get('fltno', '').strip()
    
    # Validate inputs
    if not depapt or not arrapt:
        return jsonify({'error': 'Please enter both Departure and Arrival airports.'})
    
    # Filter the dataset
    filtered_df = df[
        (df['depapt'] == depapt) & 
        (df['arrapt'] == arrapt)
    ]
    
    # If flight number is provided, filter further
    if fltno:
        filtered_df = filtered_df[filtered_df['fltno'].astype(str) == fltno]
    
    # If no results found
    if filtered_df.empty:
        return jsonify({'error': 'No flights found for the given criteria.'})
    
    # Select relevant columns
    filtered_df = filtered_df[[
        'carrier', 'fltno', 'depapt', 'arrapt', 
        'distance_in_km', 'co2e_per_passenger_kg', 
        'amenities', 'otp%'
    ]]
    
    # Convert to list of dictionaries
    data = filtered_df.to_dict('records')
    return jsonify({'data': data})

if __name__ == '__main__':
    app.run(debug=True, host='0.0.0.0', port=5000)

 * Serving Flask app '__main__'
 * Debug mode: on

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on all addresses (0.0.0.0)
 * Running on http://127.0.0.1:5000
 * Running on http://10.212.134.10:5000
Press CTRL+C to quit
 * Restarting with watchdog (windowsapi)

SystemExit: 1

C:\anaconda\Lib\site-packages\IPython\core\interactiveshell.py:3585: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)